HYDRA_WS_URL="ws://217.217.253.66:4001"
HYDRA_HTTP_URL="http://217.217.253.66:4001"
HYDRA_WS_URL_SUB="http://217.217.253.66:4002"
HYDRA_HTTP_URL_SUB="http://217.217.253.66:4002"
APP_MNEMONIC="fame volcano bike castle pear limb process pact clown drop dutch family doll ready flower decline curve rescue style reform gap ski network holiday"
BLOCKFROST_API_KEY="previewB0t0eC8F6j6ncdErw88gZy53vI3Hxy9R"
NEXTAUTH_SECRET="1CVFBbUQ3/H1rMwGBpq2W4JqaTiS95nKQ8fwkGswMkzD"
APP_NETWORK="preview"
DATABASE_URL="postgresql://neondb_owner:npg_nod4VgPrOv1j@ep-quiet-scene-aey49yvh-pooler.c-2.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
